db.sqlite3
media
backend/_pycache_
assignment/_pycache_
attendance/_pycache_
category/_pycache_
classes/_pycache_
exam/_pycache_
examresult/_pycache_
fees/_pycache_
holiday/_pycache_
library/_pycache_
parent/_pycache_
portion/_pycache_
remainder/_pycache_
school/_pycache_
student/_pycache_
subject/_pycache_
teacher/_pycache_
timetable/_pycache_
assignment/migrations/00*
assignment/migrations/_pycache_
attendance/migrations/00*
attendance/migrations/_pycache_
category/migrations/00*
category/migrations/_pycache_
classes/migrations/00*
classes/migrations/_pycache_
exam/migrations/00*
exam/migrations/_pycache_
examresult/migrations/00*
examresult/migrations/_pycache_
fees/migrations/00*
fees/migrations/_pycache_
holiday/migrations/00*
holiday/migrations/_pycache_
library/migrations/00*
library/migrations/_pycache_
parent/migrations/00*
parent/migrations/_pycache_
portion/migrations/00*
portion/migrations/_pycache_
remainder/migrations/00*
remainder/migrations/_pycache_
school/migrations/00*
school/migrations/_pycache_
student/migrations/00*
student/migrations/_pycache_
subject/migrations/00*
subject/migrations/_pycache_
teacher/migrations/00*
teacher/migrations/_pycache_
timetable/migrations/00*
timetable/migrations/_pycache_
env/